.jumbotron {
  background-size  : cover;
  margin-bottom    : 0 !important;
  height           : 100vh;
} 

.jumbotron h1, .jumbotron h2{
  font-family      : "Raleway"; 
  text-align       : center;
}

#home-jumbotron{
  background-image : url('../images/winter3.jpg');
}

#home-wethenorth :hover {
  text-decoration  : none;
}

.twitter-timeline {
  float            : right;
} 

#about-div {
  padding-top: 1%;
}

/* High-resolution desktops and laptops */
@media (min-width: 1600px){
  #home-container {
    position         : relative;
    top              : 23%;
  }

  #home-h1 {
    font-size: 500%;
  }

   #about-h1 {
    font-size: 500%;
  }

  #about-p {
    font-family      : "Raleway";
    font-size        : 190%;
  }

  .twitter-timeline {
    float            : right;
  } 

  #twitter-widget-0 { 
      height: 500px !important; 
    }
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px){
  #home-container {
    position         : relative;
    top              : 19%;
  }

  #home-h2 {
    font-size:200%;
  }

  #about-p {
    font-family      : "Raleway";
    font-size        : 160%;
    padding-left     : 10%;
  } 
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    .twitter-timeline {
    display:none;
  } 

  #home-h1 {
    padding-top: 20%;
  }
}