.jumbotron {
-webkit-background-size: 100% 100%;
-moz-background-size   : 100% 100%;
-o-background-size     : 100% 100%;
background-size        : 100% 100%;
margin-bottom          : 0 !important;
height                 : 100vh;
} 

.jumbotron h1, .jumbotron h2{
font-family            : "Raleway"; 
text-align             : center;
}

#home-jumbotron{
background-image       : url('../images/winter3.jpg');
}

#home-wethenorth:hover {
text-decoration        : none;
}

#about-jumbotron {
	/*background-color: #D0E8FF;*/
	/*background-color: #E0E0E0;*/
}

#about-div {
padding-top            : 5%;
}

#about-p {
font-family            : "Raleway";
}

/* High-resolution desktops and laptops */
@media (min-width: 1600px){
#home-container {
position               : relative;
top                    : 23%;
}

#home-h1, #about-h1 {
font-size              : 500%;
}

#about-p {
font-size              : 190%;
}

#twitter-widget-0 { 
height                 : 500px !important; 
}
}

/* Large desktops and laptops */
@media (min-width: 1200px) and (max-width: 1599px){
#home-container {
position               : relative;
top                    : 19%;
}

#home-h2 {
font-size              :200%;
}

#about-p {
font-size              : 160%;
padding-left           : 10%;
} 
}

.flake{
    -webkit-border-radius:10px;
    border-radius:10px;
    position:absolute;
}
