html,body {height:100%;}
.jumbotron {height:100%;}

.jumbotron {
    background-image:url('../images/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 5%;
} 

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}
#icon-menu {
  float:left; 
  position: fixed;
  margin-left: 1%;
  color: #fff;
  position: fixed;
top: 49%;
}

#logo {
  width:40%; 
  display: block; 
  margin:auto;
}

#nav {
  list-style-type: none; 
  font-family:'Raleway'; 
  font-size:18px;
  padding: 0px;
  text-align: center;
  margin-top: 95%;
}

#nav li {padding-bottom: 15px;}
#nav a {color:#C0C0C0;}

#nav a:hover {
    color: #fff;
    text-decoration: none;
  }

#icons{

 bottom: 3%;
position:absolute; 
left: 49%; 
transform: translateX(-48%);

}




.twitter-timeline {
  float: right;
  height: 500px;
}



#about-p .twitter-links {
    color: #fff;

}
h2{
  font-size: 30px;
}


